---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SobreMi from '../components/SobreMi.astro';
import Contenido from '../components/Contenido.astro';
import Musica from '../components/Musica.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css'
---

<Layout>
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <Header />
        <main>
			<SobreMi />
            <Contenido />
			<Musica />
			<Footer />
        </main>
    </div>
</Layout>
