---
import PaginatedTable from "./PaginatedTable.astro";
const response = await fetch("https://sec2john-page.pages.dev/api/contenidoAPI");
const data = await response.json();
---

<section class="py-12" id="contenido">
    <div class="flex items-center mb-6">
        <span class="material-icons text-green-400 mr-2">terminal</span>
        <h2 class="text-3xl font-bold text-gray-100">Contenido</h2>
    </div>
    <p class="mb-4 text-gray-400">
        Soy tan majo que te indexo mi contenido aquí abajo :)
    </p>
    <PaginatedTable data={data} client:load />
</section>
