<header class="flex justify-between items-center py-8">
    <div class="flex items-center space-x-4">
        <img alt="Profile picture of Sec2John" class="w-16 h-16 rounded-full border-2 border-gray-700"
            src="/s2j_av.png" />
        <div>
            <h1 class="text-2xl font-bold text-gray-100">Sec2John</h1>
            <p class="text-sm text-gray-400">[status: online]</p>
        </div>
    </div>
    <nav class="hidden md:flex items-center space-x-8 text-sm">
        <a class="text-gray-400 header-link" href="#sobre-mi">Sobre Mí</a>
        <a class="text-gray-400 header-link" href="#contenido">Contenido</a>
        <a class="text-gray-400 header-link" href="#musica">Música</a>
        <a class="text-gray-400 header-link" href="#redes">Redes</a>
    </nav>
</header>