<section class="py-12" id="musica">
    <div class="flex items-center mb-6">
        <span class="material-icons text-green-400 mr-2">music_note</span>
        <h2 class="text-3xl font-bold text-gray-100">Música</h2>
    </div>
    <p class="mb-4 text-gray-400">
        Me gusta jugar con la IA musical y editar clips de vídeo. Aquí los
        tienes:
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        <div class="card">
            <blockquote
                class="tiktok-embed"
                cite="https://www.tiktok.com/@sec2john/video/7485743035167378710"
                data-video-id="7485743035167378710"
                style="max-width: 605px;min-width: 325px;"
            >
                <section>
                    <a
                        target="_blank"
                        title="@sec2john"
                        href="https://www.tiktok.com/@sec2john?refer=embed"
                        >@sec2john</a
                    >
                    <p>
                        No me esperaba este SCANNEO y ANÁLISIS de DIRECTORIOS y
                        FICHEROS de la máquina de Hack The Box llamada Sau.
                        Estoy flipando con la cantidad de vulnerabilidades y
                        posibilidades que presenta. ¡No os lo perdáis! <a
                            title="ciberseguridad"
                            target="_blank"
                            href="https://www.tiktok.com/tag/ciberseguridad?refer=embed"
                            >#ciberseguridad</a
                        >
                        <a
                            title="hackthebox"
                            target="_blank"
                            href="https://www.tiktok.com/tag/hackthebox?refer=embed"
                            >#hackthebox</a
                        >
                        <a
                            title="hacking"
                            target="_blank"
                            href="https://www.tiktok.com/tag/hacking?refer=embed"
                            >#hacking</a
                        >
                        <a
                            title="bugbounty"
                            target="_blank"
                            href="https://www.tiktok.com/tag/bugbounty?refer=embed"
                            >#bugbounty</a
                        >
                        <a
                            title="linux"
                            target="_blank"
                            href="https://www.tiktok.com/tag/linux?refer=embed"
                            >#linux</a
                        >
                    </p>
                    <a
                        target="_blank"
                        title="♬ sonido original - sec2john"
                        href="https://www.tiktok.com/music/sonido-original-7383935296918801184?refer=embed"
                        >♬ sonido original - sec2john</a
                    >
                </section>
            </blockquote>
            <div class="flex flex-col items-center justify-center p-4 space-y-4">
                <p class="text-gray-300 text-sm">Hip Hop Bas(h)ic</p>
                <a
                    href="/mp3/song1.mp3"
                    download
                    class="inline-block mt-2 bg-green-500 text-white px-4 py-2 rounded text-sm"
                >
                    Descargar MP3
                </a>
            </div>
        </div>
        <div class="card">
            <blockquote
                class="tiktok-embed"
                cite="https://www.tiktok.com/@sec2john/video/7490204336090336534"
                data-video-id="7490204336090336534"
                style="max-width: 605px;min-width: 325px;"
            >
                <section>
                    <a
                        target="_blank"
                        title="@sec2john"
                        href="https://www.tiktok.com/@sec2john?refer=embed"
                        >@sec2john</a
                    >
                    <p>
                        No me esperaba este SCANNEO y ANÁLISIS de DIRECTORIOS y
                        FICHEROS de la máquina de Hack The Box llamada Sau.
                        Estoy flipando con la cantidad de vulnerabilidades y
                        posibilidades que presenta. ¡No os lo perdáis! <a
                            title="ciberseguridad"
                            target="_blank"
                            href="https://www.tiktok.com/tag/ciberseguridad?refer=embed"
                            >#ciberseguridad</a
                        >
                        <a
                            title="hackthebox"
                            target="_blank"
                            href="https://www.tiktok.com/tag/hackthebox?refer=embed"
                            >#hackthebox</a
                        >
                        <a
                            title="hacking"
                            target="_blank"
                            href="https://www.tiktok.com/tag/hacking?refer=embed"
                            >#hacking</a
                        >
                        <a
                            title="bugbounty"
                            target="_blank"
                            href="https://www.tiktok.com/tag/bugbounty?refer=embed"
                            >#bugbounty</a
                        >
                        <a
                            title="linux"
                            target="_blank"
                            href="https://www.tiktok.com/tag/linux?refer=embed"
                            >#linux</a
                        >
                    </p>
                    <a
                        target="_blank"
                        title="♬ sonido original - sec2john"
                        href="https://www.tiktok.com/music/sonido-original-7383935296918801184?refer=embed"
                        >♬ sonido original - sec2john</a
                    >
                </section>
            </blockquote>
            <div class="flex flex-col items-center justify-center p-4 space-y-4">
                <p class="text-gray-300 text-sm">Distrohopper eurodance	</p>
                <a
                    href="/mp3/song2.mp3"
                    download
                    class="inline-block mt-2 bg-green-500 text-white px-4 py-2 rounded text-sm"
                >
                    Descargar MP3
                </a>
            </div>
        </div>
        <div class="card">
            <blockquote
                class="tiktok-embed"
                cite="https://www.tiktok.com/@sec2john/video/7495394778746506518"
                data-video-id="7495394778746506518"
                style="max-width: 605px;min-width: 325px;"
            >
                <section>
                    <a
                        target="_blank"
                        title="@sec2john"
                        href="https://www.tiktok.com/@sec2john?refer=embed"
                        >@sec2john</a
                    >
                    <p>
                        No me esperaba este SCANNEO y ANÁLISIS de DIRECTORIOS y
                        FICHEROS de la máquina de Hack The Box llamada Sau.
                        Estoy flipando con la cantidad de vulnerabilidades y
                        posibilidades que presenta. ¡No os lo perdáis! <a
                            title="ciberseguridad"
                            target="_blank"
                            href="https://www.tiktok.com/tag/ciberseguridad?refer=embed"
                            >#ciberseguridad</a
                        >
                        <a
                            title="hackthebox"
                            target="_blank"
                            href="https://www.tiktok.com/tag/hackthebox?refer=embed"
                            >#hackthebox</a
                        >
                        <a
                            title="hacking"
                            target="_blank"
                            href="https://www.tiktok.com/tag/hacking?refer=embed"
                            >#hacking</a
                        >
                        <a
                            title="bugbounty"
                            target="_blank"
                            href="https://www.tiktok.com/tag/bugbounty?refer=embed"
                            >#bugbounty</a
                        >
                        <a
                            title="linux"
                            target="_blank"
                            href="https://www.tiktok.com/tag/linux?refer=embed"
                            >#linux</a
                        >
                    </p>
                    <a
                        target="_blank"
                        title="♬ sonido original - sec2john"
                        href="https://www.tiktok.com/music/sonido-original-7383935296918801184?refer=embed"
                        >♬ sonido original - sec2john</a
                    >
                </section>
            </blockquote>
            <div class="flex flex-col items-center justify-center p-4 space-y-4">
                <p class="text-gray-300 text-sm">Owasp Top 10 mandamientos</p>
                <a
                    href="/mp3/song3.mp3"
                    download
                    class="inline-block mt-2 bg-green-500 text-white px-4 py-2 rounded text-sm"
                >
                    Descargar MP3
                </a>
            </div>
        </div>
    </div>
</section>
<script async src="https://www.tiktok.com/embed.js"></script>
