<section class="py-12" id="sobre-mi">
    <div class="flex items-center mb-6">
        <span class="material-icons text-green-400 mr-2">person_pin</span>
        <h2 class="text-3xl font-bold text-gray-100">Sobre mí</h2>
    </div>
    <div class="card p-8">
        <p class="text-gray-300 leading-relaxed">
            Hola! Me llamo Juan y soy técnico en ciberseguridad. Tengo años de experiencia como analista de
            amenazas, Investigador Forense y ahora creo contenido en Twitch y YouTube.
            <br /><br />
            Llevo un tiempo creando contenido, principalmente en TikTok y YouTube, poniendo el foco en
            linux, el terminal, Bash Scripting y otros temas relacionados con la ciberseguridad. Intento dar
            un toque de humor a todo lo que hago para trasladar mis conocimientos de una manera amena,
            didáctica y entretenida.
        </p>
    </div>
</section>