
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&amp;display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<!-- Primary Meta Tags -->
		<title>Sec2John - Ciberseguridad y Hacking Ético</title>
		<meta name="title" content="Sec2John - Ciberseguridad y Hacking Ético" />
		<meta name="description" content="Página web fan de Sec2John. Aprende sobre ciberseguridad, hacking ético y mucho más." />
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://sec2john-page.pages.dev" />
		<meta property="og:title" content="Sec2John - Ciberseguridad y Hacking Ético" />
		<meta property="og:description" content="Página web fan de Sec2John. Aprende sobre ciberseguridad, hacking ético y mucho más." />
		<meta property="og:image" content="https://i.imgur.com/TnjScnh.png" />
		<!-- X (Twitter) -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://sec2john-page.pages.dev" />
		<meta property="twitter:title" content="Sec2John - Ciberseguridad y Hacking Ético" />
		<meta property="twitter:description" content="Página web fan de Sec2John. Aprende sobre ciberseguridad, hacking ético y mucho más." />
		<meta property="twitter:image" content="https://i.imgur.com/TnjScnh.png" />
	</head>
	<body class="hacker-bg">
		<slot />
		<script async src="https://www.tiktok.com/embed.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
